<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
</head>
<body>
  <header>
    <nav>
      {{#if currentUser}}
<<<<<<< HEAD:project2/views/layout.hbs
      <a href="/">Home</a>
      <b>{{currentUser.email}}</b>
      <a href="/profile">Profile</a>
       {{#if currentUser.isAdmin}}
      <a href="/admin/users">User management</a>
      <a href="/admin/users">Stone management</a>
      {{/if}}
      <a href="/stone-list">Check our Stones</a>
      <a href="/logout">Log out</a>
      {{else}}
      <a href="/signup">Sign up</a>
      <a href="/login">Log in</a>
      {{/if}}

=======
     <a href="/">Home</a>
     <b>{{currentUser.email}}</b>
     <a href="/profile">Profile</a>
      {{#if currentUser.isAdmin}}
     <a href="/admin/users">User management</a>
     <a href="/admin/users">Stone management</a>
     {{/if}}
     <a href="/stone-list">Check our Stones</a>
     <a href="/logout">Log out</a>
     {{else}}
     <a href="/signup">Sign up</a>
     <a href="/login">Log in</a>
     {{/if}}
>>>>>>> 5cb658b4d780a281bde88b655ad7c5f73de75518:views/layout.hbs
    </nav>
  </header>
 {{!-- <h1>Welcome to {{title}} website</h1> --}}
  {{{body}}}


<footer> <p> Made by Julie & Manon at IronHack</p> </footer>
<script src="/javascripts/script.js"></script>
</body>
</html>

