<h3 class="stone-list-title">Stone management</h3>

<ul class="stone-container">
  {{#each stoneArray}}
  <li class="oneStone-container">
      <h1 class="stone-name">{{this.name}}</h1>
      <p>Registered: {{this.createdAt}}</p>
      {{!-- <p>Power : {{this.power}}</p> --}}
      <img class="stone-img" src="{{this.image}}" alt="">
      <br>
      <form action="/stonesmanagement/{{this._id}}/delete" method="GET">
        <button>Delete</button>
    </form>
  </li>
  {{/each}}
</ul>