<h3 class="stone-list-title">User management</h3>

<ul>
  {{#each userArray}}
  <li>
    <h4>{{this.fullName}}</h4>
    <ul>
      <li>Email: {{this.email}}</li>
      <li>Registered: {{this.createdAt}}</li>
      <li>Zodiac Sign: {{this.zodiac}}</li>
      <li>Location: {{this.location}}</li>
      <li><img src="{{this.image}}" alt=""></li>
      <form action="/usersmanagement/{{this._id}}/delete" method="GET">
        <button>Delete</button>
    </form>
    </ul>
  </li>
  {{/each}}
</ul>

