<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <header>
    <nav>
      <a href="/">Home</a>
      {{#if currentUser}}
      <b>{{currentUser.email}}</b>
      <a href="/profile">My profile</a>
      <a href="/logout">Log out</a>
       {{#if currentUser.isAdmin}}
      <h3>Admin zone</h3>
      <a href="/admin/users">User management</a>
       <a href="/admin/users">Stone management</a>
      {{/if}}
      {{else}}
      <a href="/signup">Sign up</a>
      <a href="/login">Log in</a>
      {{/if}}
    </nav>
  </header>
 {{!-- <h1>Welcome to {{title}} website</h1> --}}
  {{{body}}}
  <a href="/stone-list">Check our Stones</a>


<footer> Made by Julie & Manon at IronHack </footer>
<script src="/javascripts/script.js"></script>
</body>
</html>

