

<h2>My profile</h2>
<ul>
<li>{{currentUser.email}}</li>
<li>{{currentUser.fullName}}</>
<img src="{{currentUser.image}}" alt="">
<li>{{currentUser.zodiac}}</li>
<li>{{currentUser.location}}</li>
<li>{{currentUser.possessions}}</li>
<li>{{currentUser.timestamps}}</li>
</ul>


<h3>My stone collection</h3>



{{!-- Settings --}}
<button class="open-button" onclick="openForm()">Edit your profile</button>
<div class="form-popup" id="myForm">
<form action="/process-profile" class="form-container" method="POST">
<label>
   Change your name:
  <input type="text" name="fullName" value="{{currentUser.fullName}}" placeholder="Change your name here"/>
</label>
<br/>

 <label>
    Email :
    <input type="email" name="email" value="{{currentUser.email}}" placeholder = "Change your email here"/>
  </label>
  <br>

  {{!-- <label>
    Zodiac Sign
    <input type="zodiac-sign" name="zodiac" value="{{currentUser.zodiac}}" placeholder = "Change your Zodiac Sign here"/>
  </label>
  <br> --}}

  <label>
    Location
    <input type="location" name="location" value="{{currentUser.location}}" placeholder = "Change your location here"/>
  </label>
  <br>

<button type="submit" class="btn">Save</button>
<button type="button" class="btn cancel" onclick="closeForm()">Close</button>
</form>
</div>

<script>
function openForm() {
    document.getElementById("myForm").style.display = "block";
}

function closeForm() {
    document.getElementById("myForm").style.display = "none";
}
</script>
