<h2>My settings</h2>

<form action="">
<label>
   Change your name:
  <input type="text" name="fullName" value="{{currentUser.fullName}}" placeholder="Change your name here"/>
</label>
<br/>

 <label>
    Email :
    <input type="email" name="email" value="{{currentUser.email}}" placeholder = "Change your email here"/>
  </label>
  <br>

  <label>
    Password :
    <input type="password" name="originalPassword" value="{{currentUser.originalPassword}}" placeholder = "Change your password here"/>
  </label>
  <br>

  <label>
    Zodiac Sign
    <input type="zodiac-sign" name="zodiac" value="{{currentUser.zodiac}}" placeholder = "Change your Zodiac Sign here"/>
  </label>
  <br>

  <label>
    Location
    <input type="location" name="location" value="{{currentUser.location}}" placeholder = "Change your location here"/>
  </label>
  <br>

<button>Save settings</button>
</form>